<h4 class="text-center">{{ titulo }}</h4>
<div class="table responsive">

<table class="table table-striped">
  <thead>
    <tr>
      @for (columna of columnas; track $index) {
      <ng-container>
        <th>{{ formatearNombreDeColumnas(columna) }}</th>
      </ng-container>
      }
      @if(mostrarAcciones){
        <th>Accciones</th>
      }

    </tr>
  </thead>
  <tbody>
    @for (item of data; track $index) {

    <tr>
      @for (columna of columnas; track $index) { @if (isFecha(item[columna])) {
      <ng-container>
        <td>{{ item[columna] | date : "mediumDate" : "UTC" }}</td>
      </ng-container>
      } @else {
      <ng-container>
        <td>{{ item[columna] }}</td>
      </ng-container>
      }

    }
    @if (mostrarAcciones){
      <td><Button
      type="button"
      class="btn btn-info"
      (click)="enviarIformacion(item)"
      >
      INFO
    </Button> </td>
    }

    </tr>
    }
  </tbody>
</table>
<div>
